body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

img {
    width: 500px;
    height: auto;
}

header,
.section1,
a {
    background-color: #1f2937;
    color: #f9faf8;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f9faf8;
    padding-bottom: 100px;
}

.header.logo{
    font-size: 24px;
}

.header.links {
    display: flex;
    gap: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 100px;
}

.row1 h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.row1 {
    width: 500px;
}

.row1 p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding-bottom: 10px;
}

.section1-button {
    background-color: #3882f6;
    color: #e5e7eb;
    width: 100px;
    height: 40px;
    border: 0px;
    border-radius: 10px;
}

.section2 h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.section2.paragraphs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.item {
    width: 150px;
}

.item img {
    border: 2px solid #3882f6;
    border-radius: 10px;
    max-width: 100%;
}